<ion-content>

  <div style="padding: 0 8%; background-color: lightgray; font-size: x-large;" class="ion-padding-horizontal">
    <ion-grid class="ion-no-padding" style="height: 100vh; display: flex; flex-direction: column; min-height: 100vh;">

      <ion-row style="background-color: lightgray; flex-grow: 1;" class="ion-nowrap">        
          <ion-col offset="-1" size="4" class="ion-text-center ion-align-self-center" style="font-size: small;">        
            Score: {{Score.toLocaleString('en')}}          
          </ion-col>
          <ion-col size="5" class="ion-text-center ion-align-self-center" style="font-size: large;">
            &nbsp;Hectris!&nbsp;
          </ion-col>
          <ion-col size="4" class="ion-text-center ion-align-self-center" style="font-size: small;">
            Hi Score: {{HiScore.toLocaleString('en')}}
          </ion-col>        
      </ion-row>

      <ion-row *ngFor="let row of cells ; let i = index" style="background-color: cadetblue; flex-grow: 1;">
        <ion-col size="1" style="background-color: lightgray"></ion-col>
        <ion-col *ngFor="let col of row; let j = index" size="1" class="ion-text-center" style="border-style: outset;"
          [ngStyle]="{'background-color': col.background_color, 'border-color': col.border_color}" (click)="Rotate()">
          <!-- {{ 9 * i + j }} -->
        </ion-col>
        <ion-col size="1" style="background-color: lightgray"></ion-col>
      </ion-row>
      
      <ion-row style="flex-grow: 1;">
        <ion-col class="ion-align-self-center" size="4" (click)="MoveLeft()" style="text-align: center;">
          <div style="margin-top: 0.5em;">
            <ion-icon slot="start" name="arrow-dropleft"></ion-icon>
            Left
          </div>
        </ion-col>
        <ion-col class="ion-align-self-center" size="4" (click)="MoveDown()" style="text-align: center;">
          <div style="margin-top: 0.5em;">
            <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-center" size="4" (click)="MoveRight()" style="text-align: center;">
          <div style="margin-top: 0.5em;">
            <ion-icon slot="start" name="arrow-dropright"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: lightgray; flex-grow: 1;">
        <ion-col size="12">          
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ng-container *ngIf="!timer">
        <ion-fab-button (click)="OnStartStop()">
          <ion-icon name="play"></ion-icon>
        </ion-fab-button>
      </ng-container>
    </ion-fab>


  </div>

</ion-content>